syntax: glob

*.obj
*.exe
*.o
*.a
*.lib
*.so*
*.idb
*.log
*.sdf
*.VC.db
*.VC.VC.opendb
*.vcxproj.user
*.idb 
*.tlog
*.suo
*.orig
*.tix
.~*
*.bak
*.raw
*.dll
*.pdb
*.err
*.ai
*.d


# Files compilated
/**/Platforms/.vs
/**/Platforms/out
/**/Platforms/Windows
/**/Platforms/Linux
/**/Platforms/Android
/**/Platforms/ESP32
/**/Platforms/STM32/EWARM/DataIOStream
/**/Platforms/STM32/EWARM/TestDataIO
/Output.txt